@page "/"
@using TradingSystem.Data
@using TradingSystem.DTO
@using TradingSystem.Logic
@using TradingSystem.Setup
@inject JsLogger Logger
@inject IClient ClientService
@inject IMessageBus MessageBus
@rendermode InteractiveServer

<link rel="stylesheet" href="Styles/ClientStyle.css">

<div class="container">
    <header class="header">
        <h1>Stock Trading Dashboard</h1>
    </header>
    
    <div class="card">

        @if (!_isAuthenticated)
        {
            <div class="auth-container">
                <p>Enter your access code to continue:</p>
                <div class="input-group">
                    <input class="input-field" @bind="_clientId"/>
                    <input type="password" class="input-field" @bind="_clientPassword"/>
                </div>
                <button class="login-btn" @onclick="Login">
                    <span class="material-icons">Log in</span>
                </button>
            </div>
        }
        else
        {
            <div class="content">
                <h3>Logged in as <span class="highlight">@_clientId</span></h3>
                <div class="stocks-container">
                    <!-- Stock Selection -->
                    <div class="stock-selection">
                        <h4 class="section-title">Select stocks to stream prices</h4>
                        <div class="stock-grid">
                            @foreach (var stock in stocks[_clientId])
                            {
                                <div class="stock-item">
                                    <input type="checkbox" class="stock-checkbox" @onchange="(args) => UpdateSelectedStocks(args, stock)" />
                                    <label class="stock-label">@stock.InstrumentId</label>
                                </div>
                            }
                        </div>
                    </div>

                    <!-- Selected Stocks -->
                    <div class="selected-stocks">
                        <h4 class="section-title">Selected Stocks</h4>

                        @if (_selectedStocksPerClient.Any())
                        {
                            <div class="stock-list">
                                <ul>
                                    @foreach (var stock in _selectedStocksPerClient[_clientId])
                                    {
                                        <li class="selected-stock-item">
                                            <span class="stock-name">@stock.InstrumentId</span>
                                            <span class="stock-price">@(stock.Price == 0 ? "Price is yet to come" : stock.Price.ToString("C"))</span>
                                            @if (stock.Price != 0)
                                            {
                                                <input type="number" class="quantity-input" min="1" @bind="stock.Quantity"/>

                                                <button class="buy-btn" @onclick="() => BuyStock(stock)">
                                                    Buy
                                                </button>
                                            }
                                            else
                                            {

                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <p class="no-stocks">No stocks selected.</p>
                        }
                    </div>
                </div>
            </div>
            @if (_isDevelopment)
            {
                <h5>@_tmpOrderstatus</h5>
                <h3>Put new price on bus:</h3>
                <input class="input-field" @bind="_developmentInstrumentId" />
                <input class="input-field" @bind="_developmentPrice" />
                <button class="button simulate-btn" @onclick="SimulateNewPrice">
                    <span class="material-icons"></span> Simulate Price
                </button>
            }
            <button class="button logout-btn" @onclick="LogOut">
                <span class="material-icons"></span> Log Out
            </button>
        }
    </div>
</div>

@code {
    private Dictionary<string, HashSet<StockOptions>> stocks = new();
    private bool _isAuthenticated;
    private bool _isDevelopment = true;
    private string _developmentInstrumentId = "";
    private float _developmentPrice;
    private string _clientId = "";
    private string _clientPassword = "";
    private string _tmpOrderstatus = "";
    private readonly Dictionary<string, List<StockOptions>> _selectedStocksPerClient = new();

    private void Login()
    {
        ClientService.Login(_clientId, _clientPassword, LoginSuccess);
    }
    
    private void LoginSuccess(bool success)
    {
        _isAuthenticated = success;
        stocks[_clientId] = ClientService.GetStockOptions<HashSet<StockOptions>>(stockOptions =>
        {
            stocks[_clientId] = stockOptions;
        });
        
        if (!_selectedStocksPerClient.ContainsKey(_clientId))
        {
            _selectedStocksPerClient[_clientId] = new List<StockOptions>();
        }
    }
    
    private void UpdateSelectedStocks(ChangeEventArgs args, StockOptions stock)
    {
        Console.WriteLine($"Updating stock: {stock.InstrumentId} enabled: {(bool)args.Value}");
        var enabled = (bool)(args.Value ?? false);
        var info = new StreamInformation
        {
            ClientId = _clientId,
            EnableLivePrices = enabled,
            InstrumentId = stock.InstrumentId
        };
        stock.EnableLivePrices = enabled;
        
        if (!_selectedStocksPerClient.ContainsKey(_clientId))
        {
            _selectedStocksPerClient[_clientId] = new List<StockOptions>();
        }
        
        var selectedStocks = _selectedStocksPerClient[_clientId];
        if (stock.EnableLivePrices)
        {
            if (!selectedStocks.Any(s => s.InstrumentId == stock.InstrumentId))
            {
                selectedStocks.Add(stock);
            }
        }
        else
        {
            selectedStocks.RemoveAll(s => s.InstrumentId == stock.InstrumentId);
        }
        
        ClientService.StreamPrice(info, UpdatePrice);
    }

    private async void UpdatePrice(StockOptions stock)
    {
        if (!_selectedStocksPerClient.TryGetValue(_clientId, out var selectedStocks)) return;

        var matchingStock = selectedStocks.SingleOrDefault(s => s.InstrumentId == stock.InstrumentId);
        
        if (matchingStock == null) return;
        matchingStock.Price = stock.Price;
        await InvokeAsync(StateHasChanged);
    }
    
    private void BuyStock(StockOptions stock)
    {
        if (stock.Price == 0)
        {
            Console.WriteLine("Cannot buy stock without a valid price.");
            return;
        }

        Console.WriteLine($"Buying {stock.Quantity} of {stock.InstrumentId} at {stock.Price:C} for client {_clientId}");
        const OrderSide side = OrderSide.RightSided;
        var order = new Order
        {
            ClientId = _clientId,
            Side = side,
            Stock = stock
        };
        ClientService.HandleOrder(order, OrderHandled);
    }

    private void OrderHandled(Order order)
    {
        _tmpOrderstatus = order.Status.ToString();
    }
    
    private void SimulateNewPrice()
    {
        var stock = new StockOptions
        {
            InstrumentId = _developmentInstrumentId,
            Price = _developmentPrice
        };
        var stockTopic = TopicGenerator.TopicForMarketInstrumentPrice(stock.InstrumentId);
        MessageBus.Publish(stockTopic, stock);
    }

    private void LogOut()
    {
        ClientService.Logout(LogOutSuccess);
    }

    private void LogOutSuccess(bool authenticated)
    {
        _isAuthenticated = authenticated;
        
    }
}